@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px)
	/**/
	.home-slider
		.slogan
			line-height: 1.5
			margin: 15px 0
		.slogan-2
			line-height: 1
			font-size: 48px
			.offer
				margin: 15px 0
	.new-arrivals
		&-block
			.text
				top: 0%
	.offer-banner-1
		.text
			padding-top: 5%
			//margin-left: 5%
			//margin-bottom: 6%
		.h1
			font-size: rem(28)
			font-weight: bold
			color: #00c8c8
			line-height: 1
			margin-bottom: 12px
			text-transform: uppercase
			.marked
				font-size: rem(12)
				font-weight: 900
				color: #f7941d
				letter-spacing: 1px
		.description
					width: 80%
					margin-bottom: 15px
					color: #636363
					font-weight: lighter
					font-size: rem(12)

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.new-arrivals
		&-block
			.text
				top: 0%
				width: 60%
				.h2
					font-size: rem(16)
					line-height: rem(14)
					letter-spacing: -1px
					.small
						font-size: rem(10)
				.description
					margin-bottom: 5px
		&-left .text
			right: 20px
			text-align: right
			.marked-text
				color: #ff0036
		&-right .text
			left: 20px
			text-align: left
			.marked-text
				color: #00b8b8
	.top-menu
		label
			display: block
			width: 40px
			height: 40px
			background-color: yellow
		nav
			ul
				display: none
	.offer-banner-1
		.text
			padding-top: 5%
		.h1
			font-size: rem(20)
			.marked
				font-size: rem(10)
		.description
					width: 100%
					margin-bottom: 10px
					font-size: rem(10)
					line-height: 1.45

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.section
		margin-top: 20px
	.logo
		height: 40px
		&-text
			font-size: rem(28)
			line-height: rem(28)
			&::after
				width: 5px
				height: 5px
	.home-slider
		&-text
			padding-bottom: 15px
			.slogan
				margin: 5px 0
			.slogan-2
				line-height: 1
				font-size: 40px
			.offer
				margin: 5px 0
	.new-arrivals
		&-block
			.text
				top: 0%
				width: 60%
				.h2
					font-size: rem(16)
					line-height: rem(14)
					letter-spacing: -1px
					.small
						font-size: rem(10)
				.description
					margin-bottom: 5px
		&-left .text
			right: 20px
			text-align: right
			.marked-text
				color: #ff0036
		&-right .text
			left: 20px
			text-align: left
			.marked-text
				color: #00b8b8
	.offer-banner-1
		.text
			padding-top: 6%
			padding-bottom: 0
		.h1
			font-size: rem(20)
			margin-bottom: 30px
			.marked
				font-size: rem(10)
		.description
					width: 100%
					margin-bottom: 10px
					font-size: rem(10)
					line-height: 1.45
	
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	.new-arrivals
		&-block
			.text
				width: 63%
				font-size: rem(6)
				line-height: 1.2

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

